body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa !important;
    color: #343a40 !important;
}
.custom-contactbox{
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: #f2efef !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56);
    border-radius: 8px;
    color: #343a40;
}

h2 {
    position: relative;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 5px;
    color: rgb(23, 23, 25) !important;
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px; /* Position the line below the heading */
    width: 100%;
    height: 2px; /* Line thickness */
    background-color: rgb(83, 83, 105); /* Line color */
}
.text-center {
    text-align: center;
    font-size: x-large !important;
}
.contact-info-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: transparent; /* Transparent background */
    border: 2px solid #564e4e; /* White border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for better visibility */
    border-radius: 8px; /* Rounded corners */
    color: #ffffff; /* Text color */
}

.custom-footer {
    background-color: #373d43 !important;
    color: #ffffff !important;
}