/* Custom Navbar */
.custom-navbar {
    padding: 1.5rem 1rem; /* Increase the padding for a larger navbar */
    background: linear-gradient(to right, #3a3a3a, #4f4f4f); /* Grey gradient */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add depth with a box shadow */
}

.navbar-brand, .nav-link {
    font-size: 1.25rem; /* Increase the font size */
    color: #e0e0e0 !important; /* Set the text color to light grey */
}

/* Custom Body Background */
body {
    background-color: #2a2a2a; /* Dark grey background */
    color: #e0e0e0; /* Light text color for readability */
}

/* Custom Header */
header {
    background: linear-gradient(to right, #3a3a3a, #4f4f4f); /* Grey gradient */
    color: #e0e0e0;
}

/* Custom Sections */
section {
    padding: 4rem 0;
    background-color: #2a2a2a; /* Match the body background color */
    color: #e0e0e0; /* Light text color for readability */
}

section.bg-light {
    background-color: #3a3a3a; /* Slightly lighter dark background */
    color: #e0e0e0; /* Light text color for readability */
}

/* Carousel */
.carousel-inner img {
    width: 100%;
    height: auto;
}

/* Card */
.card {
    background-color: #3a3a3a; /* Match the bg-light color */
    color: #e0e0e0; /* Light text color for readability */
}

/* Footer */
footer {
    background-color: #3a3a3a;
    color: #e0e0e0;
}
