{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock head %}

{% block content %}
<section class="py-5">
    <div class="container custom-contactbox">
        <h2 class="text">Contact Me</h2>
        <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if success %}
        <script>
            window.onload = function() {
                alert("Success, you can now close this window.");
            };
        </script>
        {% endif %}

        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
    </div>
</section>

<section class="py-5">
    <div class="container text-center contact-info-box">
        <h3>Or you can contact me through my phone number at:</h3>
        <u>(856)-278-0205</u>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% bootstrap_javascript %}
{% endblock scripts %}
